html {
  height: 100%;
  width: 100%;
  background-color: #ffdcbd;
}

body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background: url('background.png') ;
  background-size: cover;
  background-position: center;
}

/* Style for the top nav */

      nav {
        background-color: #fc5e00;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 0 1%;
        height: 70px;
        position: static;
        z-index: 99;
      }
      
      .left-section {
        display: flex;
        align-items: center;
      }
      
      .right-section {
        display: flex;
        align-items: center;
      }
      
      .icons {
        display: flex;
        justify-content: flex-end;
      }
      
      nav a {
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 99px;
        color: #000080;
        transition: 0.3s;
      }
      
      nav a.active {
        background: #cc4c00;
      }
      
      nav a:hover {
        background: #cc4c00;
        color: #ffdcbd;
      }
      
      nav:hover .icons > a:not(:hover) {
        background: none;
      }
      
      nav p {
        font-size: 20px;
        font-weight: 600;
        color: #000080;
        margin-right: 5px; 
      }
      
      .search {
        display: flex;
        padding: 8px;
        border-radius: 28px;
        background-color: #ffdcbd;
        width: 500px;
      }
      
      .search-input {
        font-size: 16px;
        color: #333333;
        padding: 3px;
        outline: none;
        border: none;
        background: transparent;
        display: inline-flex;
      }

@media screen and (max-width: 768px) {
  nav {
    padding: 0 5%; 
  }

  nav a {
    font-size: 14px; 
  }

  .search {
    width: 80%; 
  }

  .search-input {
    font-size: 14px;
  }
}

/* END STYLE FOR TOP NAV */

/* .background-img {
  background-image: url("https://i.ibb.co/NsKNSF9/Be-Funky-collage.png");
  background-size: static;
  background-position: center;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
} */

/* STYLE FOR BODY */

    .body-text {
      display: flex;
      justify-content: center;
      align-items: center;
/*      height: 50vh; */
      min-height: calc(100vh - 70px);
      text-align: center;
      flex-direction: column; 
      padding: 16px;
    }
    .body-text p1{
      font-family: Brush Script MT;
      margin-top: 10%;
      margin-left: 15%;
      margin-right: 15%;
      font-size: 80px;
      font-weight: 1000;
      opacity: 0.7;
      color: #000080;
      backdrop-filter: blur(50px);
      border-radius: 60px;
    }
    
    .body-text p2{
      font-size: 20px;
      font-weight: 600;
      color: #000080;
      background: rgba(255, 220, 189, 0.3);
      border-radius: 60px;
      backdrop-filter: blur(10px);
      padding: 16px;
    }
    
    .body-text a{
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      color: #000080;
      padding: 8px 16px;
      border-radius: 99px;
      background: rgba(255, 220, 189, 0.3);
    }
    
    .body-text a:hover{
      background: #cc4c00;
      color: #ffdcbd;
      opacity: 0.7;
    }
    
    .body-text p3{
      font-size: 20px;
      font-weight: 300;
      color: #000080;
      background: rgba(255, 220, 189, 0.3);
      border-radius: 99px;
      padding: 16px;
    }

    @media screen and (max-width: 768px) {
      .body-text p1 {
        font-size: 24px;
      }
    
      .body-text p2 {
        font-size: 14px; 
      }
    
      .body-text a {
        font-size: 14px; 
      }
    
      .body-text p3 {
        font-size: 14px;
      }
    }

/* END STYLE FOR BODY */

/* STYLE FOR LOGIN AND SIGNUP PAGE */

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    
    .form-box-login {
      width: 300px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
    }
    
    .form-box-signup {
      width: 300px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
    }
    
    .form-box-login h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .form-box-signup h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .input-box {
      position: relative;
      margin-bottom: 20px;
    }
    
    .input-box .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
    
    .input-box input {
      width: calc(100% - 40px);
      padding: 10px;
      padding-left: 40px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .remember-forgot {
      margin-bottom: 20px;
    }
    
    .remember-forgot label {
      font-size: 14px;
    }
    
    .btn {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #0056b3;
    }

/* END STYLE FOR LOGIN */

/* STYLE FOR CATEGORIES */

    .sidebar {
      text-align: center;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #fc5e00;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidebar a {
    
      padding:  8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color:  #000080;
      display: block;
      transition: 0.3s;
    }
    
    .sidebar a:hover {
      color: #ffdcbd;
    }
    
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      left: ;
      font-size: 36px;
    }
    
    .openbtn {
      position: fixed;
      top: 0;
      left: 0;
      font-size: 20px;
      cursor: pointer;
      background: #fc5e00;
      color: #000080;
      padding: 12px 15px;
      border: none;
      transition: .8s;
      z-index: 9;
      border-bottom-right-radius: 20px; 
      outline: none; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    }
    
    .openbtn:hover {
      background-color: #cc4c00;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
      padding-left: 35px;
      height:100%;
    }
    
    
    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      
      .sidebar a {font-size: 18px;}
    }

    @media screen and (max-width: 768px) {
      .sidebar {
        padding-top: 15px; 
      }

      .sidebar a {
        font-size: 18px;
      }

      .card h1 {
        font-size: 20px;
      }
      .card {
        max-width: 250px;
      }
    }


    .category-head{
      position: relative;
      top:0;
      text-align: center;
      align-content: center;
      align-items: center;
    }

    .head-text{
      text-decoration: none;
      margin: 0;
      margin-left: 10px;
      color: #000080;
    }  

    form.example {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px; 
    }
    
    form.example input[type=text] {
      padding: 10px;
      font-size: 14px; 
      width: 60%; 
      max-width: 300px; 
      border-radius: 20px 0 0 20px; 
      color: #000080;
      outline: none;
      border: none;
      background: transparent;
      background-color: #ffdcbd;
    }
    
    form.example button {
      padding: 10px 20px; 
      font-size: 14px;
      background-color: #000080;
      color: white;
      border: none;
      border-radius: 0 20px 20px 0; 
      cursor: pointer;
    }
    
    @media screen and (max-width: 768px) {
      form.example input[type=text] {
        font-size: 12px; 
        padding: 8px; 
      }
    
      form.example button {
        font-size: 12px;
        padding: 8px 16px; 
      }
    }

    form.example button:hover {
      background:#ffdcbd ;
    }

    @media screen and (max-width: 768px) {
      form.example input[type=text] {
        font-size: 14px; 
        width: 70%; 
        padding: 8px; 
      }

      form.example button {
        font-size: 14px; 
        padding: 8px; 
      }
    }

    /* Clear floats */
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }


    .category-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
      grid-gap: 20px;
    }
    

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      max-width: 300px;
      margin: 0;
      text-align: center;
      font-family: arial;
      background-color: #ffdcbd;
      transition: transform 0.3;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card .title {
      color: #000080;
      font-size: 18px;
    }

    .card p{
      color: #000080;
    }

    .card h1{
      color: #fc5e00;
      font-size: 24px;
    }

    .card button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #cc4c00;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
  

    .card #show-details {
      text-decoration: none;
      font-size: 10px;
      background: transparent;
      color: #000080;
    }

    .card button:hover, a:hover {
      opacity: 0.7;
    }

    .card .details{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
     
    }

    .card h1{
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    
    }

    .category-content.active{
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }

    .category-content.active .card{
      transform: scale(0);
      width: 0;
      height: 0;
      float:right;
    }
  
    .category-content .wrapper {
      position: relative;
      width: 0px;
      height: 0px;
      background-color: #ffdcbd;
      border: 2px solid rgba(255, 255, 255, .5);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px rgba(0, 0, 0, .5);
      color: #000080;
      display: block; 
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      transform: scale(0);
      transition: transform .5s ease, height .5s ease;
    }

    .category-content.active .wrapper{
      transform: scale(1);
      width: 700px;
      height: 400px;
      overflow-y: scroll;
      text-align: center;
    }

    .category-content.active .wrapper p{
      padding: 10px;
    }

    .category-content.active .wrapper::-webkit-scrollbar {
      
      display: none;
    }

    .category-content .wrapper{
      height: 490px;
    }

    .category-content .wrapper .icon-close {
      position: sticky;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      background: #fc5e00;
      font-size: 2em;
      color: #000080;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
      z-index: 1;
    }

    .category-content .wrapper .form-box {
      width: 100%;
      padding: 40px;
    }
/* END STYLE FOR CATEGORY */

    .small-icons{
      transition: transform .5s ease;
      padding: 40px;
    }

    .small-icons #unfavorite{
      transform: scale(1);
      float: right;
    }

    .small-icons.active #unfavorite{
      transform: scale(0);
    }

    .small-icons #favorite{
      transform: scale(0);
    }

    .small-icons.active #favorite{
      transform: scale(1);
      float: right;
    }